/*Add style for step#1 here*/
/* ====== SPACES.CSS ====== */

body {
  margin: 0;
}

header {
  padding: 20px;
  margin-bottom: 20px;
}

body > nav {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-left: 5%;
  padding: 10px;
}

main {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  margin-left: 2%;
}

section {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid;
}

footer {
  margin-top: 20px;
  padding: 15px;
}